.footer__copyright{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

@media (min-width: 768px){
    .footer__copyright{
        position: absolute;
        right: 48px;
        bottom: 0;
        line-height: 114%;;
    }
}